@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(49,49,49);
}

nav img {
    width: 45px;
    margin-inline: 20px;
}

nav ul {
    margin-left: auto;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    margin: 20px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
    height: auto;
    border-top:2px solid rgb(49, 49, 49);
    padding: 10px;
    padding-inline: 25px;
}

footer ul {
    margin: 0;
}

.copyright {
    font-size: .8rem;
}

a {
    color: white;
    text-decoration: none;
}

.footer-link {
    color: black;
    font-size: 1.2rem;
}

h1 {
    font-size: 5rem;
}

.col-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home {
    background-image: url("./images/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn-primary {
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(49,49,49);
    transition: .2s;
}

.btn-primary:hover {
    background-color: rgb(78, 78, 78);
}

.desc {
    max-width: 80%;
}

#home-desc {
    text-align: center;
}

.pfp {
    width: 280px;
    height: 310px;
    float: right;
    border-radius: 6px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    padding: 50px;
    color: white;
    background-image: url("./images/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-body {
    padding: 50px;
}

.desc-link {
    text-decoration: none;
    color:rgb(42, 150, 57);
}

.subtitle {
    font-size: 3rem;
}

.project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-input {
    display: flex;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: 0.375rem 0.75rem;
    margin: 25px;
    width: 500px;
}

.project-card {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    word-wrap: break-word;
    padding: 30px;
    margin-inline: 25px;
    margin-block: 1.5rem;
}

.language-container {
    display: inline-block;
}

.language {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 3px;
    padding-inline: 5px;
    font-size: .6rem;
    font-weight: 500;
    margin: 3px;
    border-radius: 4px;
}

.project-desc {
    margin-block: 1rem;
}

.project-link {
    margin-right: 5px;
}

.project-title {
    font-size: 2rem;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 50px;
}

#hamburger-icon div{
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.open .bar2 {
    opacity: 0;
}
  
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
  
.open .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
  
.mobile-menu {
    display: none;
    position: absolute;
    top: 25px;
    left: 0; 
    height: 50px;
    width: 100%;
    background-color: rgb(49, 49, 49);
}

@media screen and (max-width: 700px) {
    .title {
        font-size: 2.5rem;
    }
    .subtitle {
        font-size: 2rem;
    }
    .project-title {
        font-size: 2rem; 
    }
    #hamburger-icon {
        display: block;
    }
    nav ul {
        display: none;
    }
    .header {
        background-attachment: scroll;
    }
    footer {
        flex-direction: column;
    }
}